<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.pp3345.ykdroid">

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="net.pp3345.ykdroid.ChallengeResponseActivity"
            android:launchMode="singleTop"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.MinWidth"
            android:configChanges="keyboard|screenSize|screenLayout|touchscreen|locale|keyboardHidden|navigation">
            <intent-filter>
                <action android:name="net.pp3345.ykdroid.intent.action.CHALLENGE_RESPONSE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>